In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import csv file into dataframe
airline_cust_sat_df = pd.read_csv('../Resources/data.csv')
airline_cust_sat_df

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [3]:
#Check column data types
print(airline_cust_sat_df.dtypes)

id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [4]:
airline_cust_sat_df.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.00000,25893.000000
mean,65005.657992,39.620958,1193.788459,2.724746,3.046812,2.756775,2.977094,3.215353,3.261665,3.449222,3.357753,3.385664,3.350169,3.633238,3.314175,3.649253,3.286226,14.30609,14.740857
std,37611.526647,15.135685,998.683999,1.335384,1.533371,1.412951,1.282133,1.331506,1.355536,1.320090,1.338299,1.282088,1.318862,1.176525,1.269332,1.180681,1.319330,37.42316,37.517539
min,17.000000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000
25%,32170.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.00000,0.000000
50%,65319.500000,40.000000,849.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.00000,0.000000
75%,97584.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.00000,13.000000
max,129877.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1128.00000,1115.000000

In [5]:
# Check for null values
airline_cust_sat_df.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [6]:
airline_cust_sat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 4.8+ MB

In [7]:
airline_cust_sat_df.shape

(25976, 24)

In [8]:
airline_cust_sat_df.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [9]:
# Change null values in Arrival Delay column to zero and cast as interger
airline_cust_sat_df['Arrival Delay in Minutes'] = airline_cust_sat_df['Arrival Delay in Minutes'].fillna(0)
airline_cust_sat_df.astype({'Arrival Delay in Minutes': 'int64'}).dtypes
airline_cust_sat_df

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [10]:
# Check for null values
airline_cust_sat_df.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [11]:
# Rename columns
airline_cust_sat_df = airline_cust_sat_df.rename(columns={'id': 'Passenger_ID',
                                                          'Customer Type': 'Customer_Type',
                                                          'Type of Travel': 'Travel_Type',
                                                          'Class': 'Travel_Class',
                                                          'Flight Distance': 'Flight_Distance',
                                                          'Inflight wifi service': 'Inflight_WiFi',
                                                          'Departure/Arrival time convenient': 'Dep_Arr_Time_Convenient',
                                                          'Ease of Online booking': 'Online_Booking',
                                                          'Gate location': 'Gate_Location',
                                                          'Food and drink': 'Food_Drink',
                                                          'Online boarding': 'Online_Boarding',
                                                          'Seat comfort': 'Seat_Comfort',
                                                          'Inflight entertainment': 'Inflight_Entertainment',
                                                          'On-board service': 'Onboard_Service',
                                                          'Leg room service': 'Leg_Room',
                                                          'Baggage handling': 'Baggage_Handling',
                                                          'Checkin service': 'CheckIn_Service',
                                                          'Inflight service': 'Inflight_Service',
                                                          'Departure Delay in Minutes': 'Departure_Delay_Minutes',
                                                          'Arrival Delay in Minutes': 'Arrival_Delay_Minutes',
                                                          'satisfaction': 'Overall_Satisfaction'})
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,Inflight_Entertainment,Onboard_Service,Leg_Room,Baggage_Handling,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [14]:
# Remove the word 'customer' from Customer_Type column
airline_cust_sat_df['Customer_Type'] = airline_cust_sat_df['Customer_Type'].str.replace('Customer', '')
airline_cust_sat_df['Customer_Type'] = airline_cust_sat_df['Customer_Type'].str.replace('disloyal', 'Disloyal')
airline_cust_sat_df['Travel_Type'] = airline_cust_sat_df['Travel_Type'].str.replace('Travel', '')
airline_cust_sat_df['Travel_Type'] = airline_cust_sat_df['Travel_Type'].str.replace('travel', '')
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,Inflight_Entertainment,Onboard_Service,Leg_Room,Baggage_Handling,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction
0,19556,Female,Loyal,52,Business,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal,36,Business,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,Disloyal,20,Business,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal,44,Business,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal,49,Business,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,Disloyal,34,Business,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal,23,Business,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal,17,Personal,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal,14,Business,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal,42,Personal,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [17]:
# Create a new column for 'Departure_Delay' with Yes or No values
conditions = [(airline_cust_sat_df['Departure_Delay_Minutes'] < 1), (airline_cust_sat_df['Departure_Delay_Minutes'] >= 1)]
values = ['No', 'Yes']
airline_cust_sat_df['Departure_Delay'] = np.select(conditions, values)
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,Onboard_Service,Leg_Room,Baggage_Handling,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction,Departure_Delay
0,19556,Female,Loyal,52,Business,Eco,160,5,4,3,...,5,5,5,2,5,5,50,44.0,satisfied,Yes
1,90035,Female,Loyal,36,Business,Business,2863,1,1,3,...,4,4,4,3,4,5,0,0.0,satisfied,No
2,12360,Male,Disloyal,20,Business,Eco,192,2,0,2,...,4,1,3,2,2,2,0,0.0,neutral or dissatisfied,No
3,77959,Male,Loyal,44,Business,Business,3377,0,0,0,...,1,1,1,3,1,4,0,6.0,satisfied,No
4,36875,Female,Loyal,49,Business,Eco,1182,2,3,4,...,2,2,2,4,2,4,0,20.0,satisfied,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,Disloyal,34,Business,Business,526,3,3,3,...,3,2,4,4,5,4,0,0.0,neutral or dissatisfied,No
25972,71167,Male,Loyal,23,Business,Business,646,4,4,4,...,4,5,5,5,5,4,0,0.0,satisfied,No
25973,37675,Female,Loyal,17,Personal,Eco,828,2,5,1,...,4,3,4,5,4,2,0,0.0,neutral or dissatisfied,No
25974,90086,Male,Loyal,14,Business,Business,1127,3,3,3,...,3,2,5,4,5,4,0,0.0,satisfied,No
25975,34799,Female,Loyal,42,Personal,Eco,264,2,5,2,...,1,2,1,1,1,1,0,0.0,neutral or dissatisfied,No

In [18]:
# Create a new column for 'Arrival_Delay' with Yes or No values
conditionsa = [(airline_cust_sat_df['Arrival_Delay_Minutes'] < 1), (airline_cust_sat_df['Arrival_Delay_Minutes'] >= 1)]
valuesa = ['No', 'Yes']
airline_cust_sat_df['Arrival_Delay'] = np.select(conditionsa, valuesa)
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,Leg_Room,Baggage_Handling,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction,Departure_Delay,Arrival_Delay
0,19556,Female,Loyal,52,Business,Eco,160,5,4,3,...,5,5,2,5,5,50,44.0,satisfied,Yes,Yes
1,90035,Female,Loyal,36,Business,Business,2863,1,1,3,...,4,4,3,4,5,0,0.0,satisfied,No,No
2,12360,Male,Disloyal,20,Business,Eco,192,2,0,2,...,1,3,2,2,2,0,0.0,neutral or dissatisfied,No,No
3,77959,Male,Loyal,44,Business,Business,3377,0,0,0,...,1,1,3,1,4,0,6.0,satisfied,No,Yes
4,36875,Female,Loyal,49,Business,Eco,1182,2,3,4,...,2,2,4,2,4,0,20.0,satisfied,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,Disloyal,34,Business,Business,526,3,3,3,...,2,4,4,5,4,0,0.0,neutral or dissatisfied,No,No
25972,71167,Male,Loyal,23,Business,Business,646,4,4,4,...,5,5,5,5,4,0,0.0,satisfied,No,No
25973,37675,Female,Loyal,17,Personal,Eco,828,2,5,1,...,3,4,5,4,2,0,0.0,neutral or dissatisfied,No,No
25974,90086,Male,Loyal,14,Business,Business,1127,3,3,3,...,2,5,4,5,4,0,0.0,satisfied,No,No
25975,34799,Female,Loyal,42,Personal,Eco,264,2,5,2,...,2,1,1,1,1,0,0.0,neutral or dissatisfied,No,No

In [19]:
# Add column based on average satisfaction for scored columns
airline_cust_sat_df['Avg_Sat_Score'] = airline_cust_sat_df[['Inflight_WiFi', 'Dep_Arr_Time_Convenient',
                                                           'Online_Booking', 'Gate_Location',
                                                           'Food_Drink', 'Online_Boarding',
                                                           'Seat_Comfort', 'Inflight_Entertainment',
                                                           'Onboard_Service', 'Leg_Room',
                                                           'Baggage_Handling', 'CheckIn_Service',
                                                           'Inflight_Service', 'Cleanliness']].mean(axis=1)
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,Baggage_Handling,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction,Departure_Delay,Arrival_Delay,Avg_Sat_Score
0,19556,Female,Loyal,52,Business,Eco,160,5,4,3,...,5,2,5,5,50,44.0,satisfied,Yes,Yes,4.142857
1,90035,Female,Loyal,36,Business,Business,2863,1,1,3,...,4,3,4,5,0,0.0,satisfied,No,No,3.428571
2,12360,Male,Disloyal,20,Business,Eco,192,2,0,2,...,3,2,2,2,0,0.0,neutral or dissatisfied,No,No,2.142857
3,77959,Male,Loyal,44,Business,Business,3377,0,0,0,...,1,3,1,4,0,6.0,satisfied,No,Yes,1.785714
4,36875,Female,Loyal,49,Business,Eco,1182,2,3,4,...,2,4,2,4,0,20.0,satisfied,No,Yes,2.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,Disloyal,34,Business,Business,526,3,3,3,...,4,4,5,4,0,0.0,neutral or dissatisfied,No,No,3.357143
25972,71167,Male,Loyal,23,Business,Business,646,4,4,4,...,5,5,5,4,0,0.0,satisfied,No,No,4.285714
25973,37675,Female,Loyal,17,Personal,Eco,828,2,5,1,...,4,5,4,2,0,0.0,neutral or dissatisfied,No,No,3.000000
25974,90086,Male,Loyal,14,Business,Business,1127,3,3,3,...,5,4,5,4,0,0.0,satisfied,No,No,3.642857
25975,34799,Female,Loyal,42,Personal,Eco,264,2,5,2,...,1,1,1,1,0,0.0,neutral or dissatisfied,No,No,2.142857

In [20]:
# Create a new column for 'Customer_Sat' based on 'Avg_Sat_Score' values
condition = [(airline_cust_sat_df['Avg_Sat_Score'] < 2),
             (airline_cust_sat_df['Avg_Sat_Score'] >= 2) & (airline_cust_sat_df['Avg_Sat_Score'] < 4),
             (airline_cust_sat_df['Avg_Sat_Score'] >= 4)
            ]
value = ['Dissatisfied', 'Neutral', 'Satisfied']
airline_cust_sat_df['Customer_Sat'] = np.select(condition, value)
airline_cust_sat_df

,Passenger_ID,Gender,Customer_Type,Age,Travel_Type,Travel_Class,Flight_Distance,Inflight_WiFi,Dep_Arr_Time_Convenient,Online_Booking,...,CheckIn_Service,Inflight_Service,Cleanliness,Departure_Delay_Minutes,Arrival_Delay_Minutes,Overall_Satisfaction,Departure_Delay,Arrival_Delay,Avg_Sat_Score,Customer_Sat
0,19556,Female,Loyal,52,Business,Eco,160,5,4,3,...,2,5,5,50,44.0,satisfied,Yes,Yes,4.142857,Satisfied
1,90035,Female,Loyal,36,Business,Business,2863,1,1,3,...,3,4,5,0,0.0,satisfied,No,No,3.428571,Neutral
2,12360,Male,Disloyal,20,Business,Eco,192,2,0,2,...,2,2,2,0,0.0,neutral or dissatisfied,No,No,2.142857,Neutral
3,77959,Male,Loyal,44,Business,Business,3377,0,0,0,...,3,1,4,0,6.0,satisfied,No,Yes,1.785714,Dissatisfied
4,36875,Female,Loyal,49,Business,Eco,1182,2,3,4,...,4,2,4,0,20.0,satisfied,No,Yes,2.642857,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,Disloyal,34,Business,Business,526,3,3,3,...,4,5,4,0,0.0,neutral or dissatisfied,No,No,3.357143,Neutral
25972,71167,Male,Loyal,23,Business,Business,646,4,4,4,...,5,5,4,0,0.0,satisfied,No,No,4.285714,Satisfied
25973,37675,Female,Loyal,17,Personal,Eco,828,2,5,1,...,5,4,2,0,0.0,neutral or dissatisfied,No,No,3.000000,Neutral
25974,90086,Male,Loyal,14,Business,Business,1127,3,3,3,...,4,5,4,0,0.0,satisfied,No,No,3.642857,Neutral
25975,34799,Female,Loyal,42,Personal,Eco,264,2,5,2,...,1,1,1,0,0.0,neutral or dissatisfied,No,No,2.142857,Neutral

In [21]:
# Cleaned Data Df to CSV file
airline_cust_sat_df.to_csv('../Resources/Cust_Sat_Data.csv', index=False)